<section class="intro intro-about">
  <div class="overlay-dark">
    <div class="prose prose-centered">
      <h1 class="prose-prime-title">About</h1>
    </div>
    <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
  </div>
</section>
<article id="about-view" class="view">
  <div class="row">
    <div class="prose prose-content container-content">
      <div class="prose prose-content">
        <p class="prose-callout">The Oil Climate Index (OCI) was initially developed to alert public and private stakeholders to the full array of oils’ climate impacts, with an eye toward informing investment, development, operations, and governance of petroleum resource supply chains. The index provides new knowledge that these stakeholders can take into account to make more informed, strategic, and durable decisions about oil development, operations, and infrastructure planning. For instance, the OCI can be used to analyze public policies to reduce sector greenhouse gas (GHG) emissions. An expanded version of the OCI, the Oil Climate Index Plus Gas (OCI<sup>+</sup>), is now under development. The current tool page provides a preview of the OCI<sup>+</sup>’s novel functions, including the addition of modeled gas resources.</p>
        <p>The OCI<sup>+</sup> is an analytic tool that estimates and compares the total life-cycle GHG emissions of individual oil and gases—from upstream extraction to midstream refining to downstream end use. It also highlights variations in the GHG emission profiles of different resources in different stages of the supply chain. Both currently produced and prospective resources can be modeled. As the characteristics of oil and gas change, the OCI<sup>+</sup> enables stakeholders to compare diversifying GHG footprints and to plan ahead to mitigate the climate impacts of tomorrow’s petroleum sector.</p>
        <p>Phase 1 of the OCI modeled 30 global oils; 75 oils, representing nearly 25 percent of global oil production as of mid-2016, were modeled in Phase 2 of the index. The OCI<sup>+</sup> preview models 16 oils and 13 gases. </p><p>Prior and current versions of the index have been developed with funding from the William and Flora Hewlett Foundation, the ClimateWorks Foundation, the Rockefeller Family Fund, the Alfred P. Sloan Foundation, the Carnegie Endowment for International Peace, the Oak Foundation, and the Blue Moon Fund.</p>
        <p><a href="http://developmentseed.com" target="_blank">Development Seed</a> created the first version of the OCI web tool, which has subsequently been expanded and updated in iterative versions.</p>
      </div>
    </div>
  </div>
</article>
<%= blueBar %>
