<section class="section-callout section-content section-bluebar">
  <div class="row">
    <h3 class="section-callout__header">More Information on the Oil Climate Index Plus Gas</h3>
    <div class="subsection-container">
      <div class="section-subsection">
        <h4 class="header-section-subsection">Using the OCI<sup>+</sup></h4>
        <span><a href="#demovideos">Demonstration Videos</a></span>
      </div>
      <div class="section-subsection">
        <h4 class="header-section-subsection">Recent news on OCI<sup>+</sup></h4>
        <span>
        <a href="https://www.oilclimateproject.com/" target="_blank">Visit the Oil Climate Project page</a><br>
        <a href="https://carnegieendowment.org/specialprojects/carnegieoilinitiative/oilandclimate/" target="_blank">Visit Carnegie's Archived OCI page</a>
        </span>
      </div>
    </div>
    <span class="link-centered"><a href="#methodology">For background information on the OCI<sup>+</sup> model visit the Methodology page</a></span>
  </div>
</section>
