<section class="intro intro-glossary">
  <div class="overlay-dark">
    <div class="prose prose-centered">
      <h1 class="prose-prime-title">Glossary</h1>
      <p class="copy-feature">To learn more about the terms used throughout the site, refer to the <a href="http://www.eia.gov/tools/glossary/index.cfm?id=A" target="_new">U.S. Energy Information Administration Glossary</a>. This glossary draws on oil terms and details found there.</p>
    </div>
    <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
  </div>
</section>
<article id="glossary-view">
  <div class="row">
    <div class="prose prose-content">
      <div class="glossary-def">
        <h2 class="glossary-term" id="acid-gas">acid gas</h2>
        <p>A gas that can form acidic solutions when mixed with water. The most common acid gases are hydrogen sulfide [H<sub>2</sub>S] and carbon dioxide [CO<sub>2</sub>]. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="annulus-return">annulus return</h2>
        <p>The space between inlet and outlet piping in an oil well that allows for fluid and other drilling substances to exit.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="api-gravity">api gravity</h2>
        <p>A measure of the relative density (weight per volume) of a petroleum liquid compared to the density of water. Oils are categorized by their API gravity as follows: extra-heavy (&lt;15 API), heavy (15–22 API), medium (22–32 API), light (32–42 API), ultra-light (42–52 API), and condensate (&gt;52 API).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="asphalt">asphalt</h2>
        <p>A petroleum product output in PRELIM that is a cement-like material obtained by petroleum processing and contains bituminous material as the predominant component. It is used primarily for road construction.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="associated-gas">associated gas</h2>
        <p>Methane or other gaseous hydrocarbons that occur in crude oil reservoirs either as free gas (associated) or as gas in solution with crude oil (dissolved gas). “Natural gas” can refer either to the methane alone or to the mixture of methane and other hydrocarbons.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="bitumen">bitumen</h2>
        <p>A naturally occurring viscous (thickened) mixture, classified as extra-heavy oil and includes oils sands and tar sands, that is comprised mainly of hydrocarbons heavier than pentane. It may contain sulfur compounds. In its natural viscous state, bitumen is not recoverable at a commercial rate through a conventional well.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="boe">boe</h2>
        <p>Barrel of oil equivalent (BOE) is a unit of energy for the amount of energy released by burning one barrel of crude oil. Typically, 5800 SCF of natural gas are equivalent to one BOE.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="bunker-fuel-production">bunker fuel production</h2>
        <p>Fuel supplied to ships and aircraft, both domestic and foreign, consisting primarily of residual and distillate fuel oil for ships and kerosene-based jet fuel for aircraft.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="classification-bounds">classification bounds</h2>
        <p>The collection of characteristics used for sorting oils, including API gravity, sulfur content, production volume, depth, flaring-to-oil ratio, water-to-oil ratio, and gas-to-oil ratio. The quantification of these limits is specified on the OCI<sup>+</sup> Methodology page.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="combustion">combustion</h2>
        <p>Part of the downstream portion of the oil supply chain that entails burning petroleum products (through chemical oxidation) to generate light, power, or heat.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="condensates">condensates</h2>
        <p>A light liquid hydrocarbon comprised of mostly pentanes and heavier hydrocarbons that occurs when associated gas is present in an oil field that can be recovered from lease separators or field facilities at associated and non-associated natural gas wells (lease condensates) or at inlet separators or scrubbers in natural gas processing plants at atmospheric pressure and ambient temperatures (plant condensates).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="deep-conversion-refinery">deep conversion refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is a complex refining configuration used to turn the heaviest oils into petroleum products. Techniques can involve using high temperatures and catalysts to separate (or crack) hydrocarbons and then reject the excess carbon (a process called coking) and/or add hydrogen (hydrotreating) in order to increase production of the highest-value petroleum products.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="diesel-production">diesel production</h2>
        <p>A petroleum product output in PRELIM that is composed of distillates obtained in petroleum refining operation or blends of such distillates with residual oil used in motor vehicles. The boiling point and specific gravity are higher for diesel fuels than for gasoline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="dilbit">dilbit</h2>
        <p>Bitumen diluted with one or more lighter petroleum products, typically natural-gas condensates such as naphtha, to make it easier to transport, for example, in a pipeline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="downstream">downstream</h2>
        <p>The end of the oil supply chain that involves transporting petroleum products to markets and their end use, including, but not limited to, combustion.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="dry-gas">dry gas</h2>
        <p>Gas from a well that produces little or no condensate or natural gas liquids but rather is mostly pure methane. Also known as lean gas. <strong> </strong></p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="emissions-drivers">emissions drivers</h2>
        <p>The particular oil characteristics that are most likely responsible for increasing an oil’s or gas’ GHG emissions compared to other less important factors. These categories are flaring, land use, production steam, venting, fugitive methane emissions, pumping, upgrading, petcoke combustion, refinery heat, refinery hydrogen, liquefaction, natural gas power, and other end use.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="end-use">end use</h2>
        <p>A general term for the part of the downstream portion of the oil supply chain that involves the consumption of all petroleum products that are made from a barrel of oil, whether they are combusted, used as feedstock for consumer products, or otherwise marketed.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="enhanced-oil-recovery">enhanced oil recovery (eor)</h2>
        <p>A general term for chemical, thermal, and other practices and techniques required to extract oil from fields as they deplete, using pressure, injection, heat, and steam.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="extraction">extraction</h2>
        <p>Part of the upstream portion of the oil supply chain that entails drilling, fracturing, mining, or otherwise accessing oil resources.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring">flaring</h2>
        <p>The process of combusting and disposing of associated gas that is produced with oil, which occurs for different reasons, including emergency relief, because equipment does not exist to gather and sell the gas on the market, or the associated gas is uneconomical for sale. This is one of the emissions drivers identified in OCI<sup>+</sup>  preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring-intensity">flaring intensity</h2>
        <p>The magnitude of flaring relative to the actual conditions modeled by OPGEE.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flare-rate">flare rate</h2>
        <p>The amount of gas flared, measured in standard cubic feet of gas per day.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring-to-gas-ratio">flaring-to-gas ratio</h2>
        <p>A metric comparing the volume of gas released into the atmosphere to the volume of gas produced for human use. This useful measure of upstream efficiency is reported in terms of SCF of gas flared per SCF of gas produced. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring-to-oil-ratio">flaring-to-oil ratio</h2>
        <p>An upstream operating decision regarding the amount of gas flared for every barrel of oil produced, measured in standard cubic feet of gas per barrel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="fuel-oil">fuel oil</h2>
        <p>One of the petroleum product outputs in PRELIM that is less refined than gasoline so it can be burned in a furnace or boiler. Fuel oil includes distillate fuels (Nos. 1, 2, and 4) and residual fuels (Nos. 5 and 6).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="fugitive-emissions">fugitive emissions</h2>
        <p>Unintended leaks of a gas (including the potent greenhouse gas methane) into the atmosphere from processing, transmission, and/or transportation of oil and other fossil fuels. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="gas-to-oil-ratio">gas-to-oil ratio</h2>
        <p>The estimated total amount of gas production associated with the production of one barrel of oil, measured in standard cubic feet of gas per barrel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="gasoline-production">gasoline production</h2>
        <p>A petroleum product output in PRELIM that is a complex mixture of relatively volatile hydrocarbons used primarily in motor vehicles with spark-ignition engines that is produced in different amounts depending on an oil’s characteristics, the refinery configuration, and global demand.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="global-warming-potential">global warming potential (gwp)</h2>
        <p>An index used to compare the relative radiative forcing of different gases without directly calculating the changes in atmospheric concentrations. GWPs are calculated as the ratio of the radiative forcing that would result from the emission of one kilogram of a greenhouse gas to that which would result from the emission of one kilogram of carbon dioxide over a fixed period of time, such as one hundred years.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="greenhouse-gases">greenhouse gases (ghgs)</h2>
        <p>Those gases, such as carbon dioxide (CO2), methane (CH4), and nitrous oxide (N2O), that are transparent to solar (short-wave) radiation but opaque to infrared (long-wave) radiation, thus preventing long-wave radiant energy from leaving Earth’s atmosphere. The net effect is a trapping of absorbed radiation and a tendency to warm the planet’s surface.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="greenhouse-gas-emissions">greenhouse gas emissions (ghg emissions)</h2>
        <p>Emissions of long-lived climate-impacting gases, measured in CO2 equivalent (eq.) units using the global warming potential of each gas.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="hydraulic-fracturing">hydraulic fracturing</h2>
        <p>Fracturing a rock by pumping fluid into a well at high pressure. This technique can be used to extract oil or gas from rock formations, including shale.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="hydroskimming-refinery">hydroskimming refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is one of the simplest refinery configurations that separates lighter oils into its hydrocarbon components using heat (distillation) and employs other basic treating processes to remove hydrogen gas in order to make high-octane gasoline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="jet-fuel">jet fuel</h2>
        <p>One of the petroleum product outputs in PRELIM that is used in jet aircraft engines. It includes kerosene-type jet fuel and naphtha-type jet fuel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="land-use">land use</h2>
        <p>A variable that represents the impacts generated upstream when oil production releases carbon stored in the soil and requires the removal of biomass, the latter of which engenders both foregone carbon sequestration and emissions from the decomposition of the biomass. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="lca">lca</h2>
        <p>Lifecycle Assessment (LCA) is the systematic set of procedures for compiling and examining the inputs and outputs of materials and energy and the associated environmental impacts directly attributable to the functioning of a product like oil and gas throughout the entire petroleum life cycle.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="lean-gas">lean gas</h2>
        <p>See dry gas. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="liquefied-petroleum-gas">liquefied petroleum gas</h2>
        <p>A petroleum product output in PRELIM that is also referred to as LPG or liquid petroleum gas and made up of a group of lighter hydrocarbon gases, primarily propane and butanes. These gases may be marketed individually or mixed. LPG excludes ethane.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="liquefied-natural-gas">liquefied natural gas</h2>
        <p>Natural gas (primarily methane) that has been liquefied by reducing its temperature to -260 degrees Fahrenheit at atmospheric pressure.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="medium-conversion-refinery">medium conversion refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is an extension of a hydroskimming refinery that separates medium-gravity oils into their hydrocarbon components using heat and pressure (vacuum distillation) as well as a process (catalytic cracking) that breaks heavier hydrocarbons into gasoline, diesel, and other distillate feedstock.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="megajoule">megajoule</h2>
        <p>A measure of energy that is equal to 1 million joules.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="midstream">midstream</h2>
        <p>The middle portion of the oil supply chain that entails refining crude oil or otherwise transforming hydrocarbons into petroleum products.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="natural-gas-liquids">natural gas liquids</h2>
        <p>A group of hydrocarbons including ethane, propane, normal butane, isobutane, and pentanes plus hexanes (also known as natural gasoline). They are components of natural gas that are liquid at surface pressure. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="off-site-emissions">off-site emissions</h2>
        <p>Activities that generate GHG emissions that cross an upstream (or midstream) boundary. In terms of emissions accounting, off-site emissions are considered Scope 2 emissions that relate to  activities that enter the site count as additional emissions (for example, natural gas purchases) and those that are sent off-site are credited and count as negative emissions (for example, natural gas sales).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="ogpem">ogpem</h2>
        <p>The Oil and Gas Products Emissions Module (OGPEM) is an engineering-based tool using emission factors and operating assumptions for calculating the GHG emissions from the transport and combustion of petroleum products, NGLs, and natural gas. OGPEM will replace OPEM in the OCI<sup>+</sup>.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="oil-assay">oil assay</h2>
        <p>A chemical analysis of a crude oil that provides data for refiners to process a crude oil. The OCI<sup>+</sup> requires that assays are reported in a consistent, standardized format so that they can be input into the OCI<sup>+</sup> midstream model (PRELIM).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="oil-depth">oil depth</h2>
        <p>The depth of an oil field, measured in feet to the well bore. For vertical wells, this is equal to the depth below the surface. Offshore oils are measured from the ocean floor. For inclined or horizontal wells, this depth can exceed the vertical depth below the surface.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="opem">opem</h2>
        <p>The Oil Products Emissions Module (OPEM) is an engineering-based tool in the original OCI that uses emission factors and operating assumptions for calculating the GHG emissions from the transport and combustion of oil products.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="opgee">opgee</h2>
        <p>The Oil Production Greenhouse gas Emissions Estimator (OPGEE) is an engineering-based life cycle assessment (LCA) tool for the measurement of GHG emissions from the production, processing, and transport of crude petroleum and gas. The system boundary of OPGEE extends from initial exploration to the refinery entrance gate (oil) and pipeline or LNG terminal (gas).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petrochemical-feedstock">petrochemical feedstock</h2>
        <p>One of the petroleum product outputs in PRELIM that is principally used in the manufacturing of chemicals, rubber, and plastics.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petroleum-coke">petroleum coke</h2>
        <p>One of the petroleum product outputs in OPGEE and PRELIM that is a residue high in carbon content and low in hydrogen that is the final product of thermal decomposition in the condensation process in cracking. Also termed “petcoke.”</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petcoke-combustion">petcoke combustion</h2>
        <p>Petcoke is produced in larger amounts both upstream, when extra-heavy oils are upgraded, and downstream, when heavy and extra-heavy oils are refined. It is produced in smaller amounts when any oil is processed in a deep conversion coking refinery. Burning petcoke for heat or power generation results in higher GHG emissions than other petroleum products. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="prelim">prelim</h2>
        <p>The Petroleum Refinery Life Cycle Inventory Model, a mass and energy based process unit-level tool for the estimation of energy use and GHG emissions associated with processing a variety of crude oils within a range of configurations in a refinery.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="pumping">pumping</h2>
        <p>A variable comprising emissions from the pressure-forcing operation of various secondary-recovery techniques. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-configuration">refinery configuration</h2>
        <p>A midstream decision regarding the types of processing units assembled to transform oils into petroleum products, including hydroskimming used exclusively for light, sweet oils; medium conversion configurations for medium, sweet and sour oils; and deep conversion configurations for heavy, sweet and sour oils.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-heat">refinery heat</h2>
        <p>Heat generated for use in refining using either refinery fuel gas or natural gas. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-hydrogen">refinery hydrogen</h2>
        <p>Hydrogen produced for use in refining, generally for adding to low-API-gravity, carbon-heavy oils. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refining">refining</h2>
        <p>Part of the midstream portion of the oil supply chain that entails processing a crude oil to manufacture finished petroleum products, unfinished oils, natural gas liquids, other hydrocarbons, and oxygenates.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="residual-fuels">residual fuels</h2>
        <p>One of the petroleum product outputs in PRELIM that is a general classification for heavier bottom-of-the barrel oil residues, known as No. 5 and No. 6 fuel oils, that remain after the distillate fuel oils and lighter hydrocarbons are distilled away in refinery operations. No. 6 fuel oil includes bunker C fuel oil. Residual fuels are used for the production of electric power, space heating, vessel bunkering, and various industrial processes.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="resource-type">resource type</h2>
        <p>An OCI<sup>+ </sup>classification scheme, previously called “oil type” in the Oil Climate Index that has been expanded to cover types of oil and gas: extra-heavy, heavy, medium, light, ultra-light, condensate, ultra-deep, wet gas, dry gas, shale gas, sour gas, and depleted oil and gas.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="rich-gas">rich gas</h2>
        <p>See wet gas. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="scf">scf</h2>
        <p>A standard cubic foot (SCF) is the amount of gas contained in a cube whose edges are one foot long at a temperature of 60 degrees Fahrenheit and a pressure of 101.560 kPa. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="shale-gas">shale gas</h2>
        <p>Natural gas produced from wells in shale formations. Shale is a fine-grained, sedimentary rock composed of mud from flakes of clay minerals and tiny fragments of other materials.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="sour-gas">sour gas</h2>
        <p>Natural gas containing hydrogen sulfide, carbon dioxide or mercaptans, all of which are extremely harmful and can cause corrosion problems in gas pipelines. A sweetening process is used to remove hydrogen sulfide and carbon dioxide from a gas stream</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="sour-sweet-oil">sour/sweet oil</h2>
        <p>See “sulfur content.”</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="steam">steam</h2>
        <p>An input needed for thermal recovery (an enhanced oil recovery technique), steam can be generated and used to heat depleted or extra-heavy resources that do not easily flow. Fossil fuels are often used to power steam generation, though solar and other renewable energy sources can be used to lower the emissions impact of steam generation. This is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="steam-to-oil-ratio">steam-to-oil ratio (sor)</h2>
        <p>An upstream operating decision affecting the amount of steam input for thermal-oil-recovery projects. This ratio measures the rate of steam injection per barrel of oil produced in barrels of water equivalent per barrel of oil.</p>
      </div>
      <p>  </p>
      <div class="glossary-def">
        <h2 class="glossary-term" id="sulfur-content">sulfur content</h2>
        <p>Oils in PRELIM are categorized according to the amount of sulfur they contain as follows: sweet (&lt;0.5 percent sulfur) and sour (&gt;0.5 percent sulfur). In the case of synthetic crude oils derived from oil sands, the sulfur content is reported after the bitumen is upgraded into synthetic crude oil.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="synthetic-crude-oil">synthetic crude oil (sco)</h2>
        <p>An extra-heavy oil, bitumen, or oil sand that, prior to midstream refining, has undergone extensive upstream processing and upgrading to remove a portion of its carbon (in the form of petcoke) and convert it into a synthetic hydrocarbon that simulates conventional oil.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="tcm">tcm</h2>
        <p>An abbreviation for “trillion cubic meters” of gas, a volumetric measurement that is equal to approximately 35,300 billion SCF.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="temperature-cut">temperature cut</h2>
        <p>The range of temperatures that corresponds to the separation of various hydrocarbons in crude oil based on their boiling points.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="transportation">transportation</h2>
        <p>The movement of oil between points in the supply chain, including after extraction, when crude oil is moved to a refinery, and after refining, when petroleum products are sold. Transportation GHG emissions vary with the distance traveled, modes of transport, and transport fuels used.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="unconventional-resource">unconventional resource</h2>
        <p>The definition of what constitutes an unconventional fuel resource changes over time with changes in technology, geology, and the market. Broadly, the term refers to oil and gas types that are not easily accessible.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="upgrading">upgrading</h2>
        <p>An upstream process in OPGEE that converts extra-heavy oil, bitumen, and oil sands into synthetic crude oils of varying qualities by primarily removing excess carbon and converting it into petcoke. </p>
      </div>
      <p>  </p>
      <div class="glossary-def">
        <h2 class="glossary-term" id="upstream">upstream</h2>
        <p>The beginning of the oil supply chain that includes resource extraction, production, surface processing and upgrading, waste disposal, and other miscellaneous operations, as well as transporting oil to the refinery.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="venting">venting</h2>
        <p>The intentional release of natural gas into the atmosphere. Venting of natural gas is particularly climate damaging because the methane (CH<sub>4</sub>) in natural gas is a more potent, though shorter-lived, greenhouse gas than carbon dioxide (CO<sub>2</sub>). Venting is one of the emissions drivers identified in the OCI<sup>+</sup> preview.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-injection-ratio">water injection ratio</h2>
        <p>The amount of water injected into a well to stimulate oil production, measured in barrels of water injected per barrel of crude oil produced.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-to-gas-ratio">water-to-gas ratio</h2>
        <p>A metric that compares the total volume of water produced to the total volume of gas produced. This measured in barrels of water produced per SCF of gas produced. </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-to-oil-ratio">water-to-oil ratio</h2>
        <p>The total amount of water generated when producing oil, measured in barrels of water produced per barrel of crude oil produced.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-intensity">water intensity</h2>
        <p>An upstream operating decision regarding the amount of liquid water throughput required to produce a barrel of oil, including both water injected and wastewater generated.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="wet-gas">wet gas</h2>
        <p>Gas that has a relatively high concentration of heavy liquid hydrocarbons such as propane and butane. Correspondingly, wet gas is usually less than 85% methane. Also known as rich gas.  <strong> </strong></p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="years-in-production">years in production</h2>
        <p>The time that an oil play has been in active service. Over long periods, this can impact GHG emissions as an oil field depletes, changing its characteristics and the techniques required both upstream and midstream.</p>
      </div>
    </div>
  </div>
</article>
<%= blueBar %>
