<div id="homepage" class="view">

<!-- intro -->
  <section class="intro intro-home">
    <div class="overlay-dark">
      <div class="row">
        <div class="prose prose-home">
          <h1 class="prose-prime-title">Assessing Global Oil and Gas</h1>
          <p class="copy-feature">The OCI<sup>+</sup> Preview web tool estimates both the amount and the profile of greenhouse gas (GHG) emissions produced throughout an individual oil and gas supply chain. Drill down to see where oils' and gas' GHG emissions arise and how they can be reduced.</p>
        </div>
        <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
      </div>
    </div>
  </section>
  <!--/ intro -->

  <section class="section-callout section-content">
    <div class="row">
      <div class="prose prose-callout prose-callout-secondary">
        <p>Oil and gas have varying impacts on the climate. Differentiating between these effects involves estimating total greenhouse gas (GHG) emissions for each resource throughout the oil and gas supply chain—from upstream extraction and processing to midstream refining to downstream end use. Track these factors across our tool to see how each oil and gas weighs in.</p>
      </div>
    </div>
  </section>
  <section class="section-content-fullwidth">
    <a href="#map">
      <div class="subsection-half" id="map-preview"></div>
    </a>
    <div class="subsection-half subsection-half-right fullheight-section-content">
      <div class="subsection-inner">
        <h2>Map</h2>
        <p>The global distribution of greenhouse gas emissions from OCI<sup>+</sup> preview oils and gases along with a visualization of methane and flaring.</p>
        <a class="button button-secondary" href="#map">View Map</a>
      </div>
    </div>
  </section>
  <section class="section-content section-content-secondary">
    <div class="row">
      <div class="subsection-half subsection-half-right">
        <a href="#total-emissions">
          <div id="production-graph-preview"></div>
          <span class="labels-homepage">Current Estimated Oil and Gas Production</span>
        </a>
      </div>
      <div class="subsection-half subsection-half-left">
        <div class="subsection-inner">
          <h2>Total Emissions</h2>
          <p>The total estimated emissions for major oil and gas fields around the globe</p>
          <a class="button button-secondary" href="#total-emissions">View Total Emissions Graph</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content">
    <div class="row">
      <a href="#supply-chain">
        <div class="subsection-half" id="supply-chain-preview"></div>
      </a>
      <div class="subsection-half subsection-half-right">
        <div class="subsection-inner">
          <h2>Supply Chain</h2>
          <p>The GHG emissions that come from production, processing, refining, shipping, and end-use purposes.</p>
          <a class="button button-secondary" href="#supply-chain">View Supply Chain Graph</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content section-content-secondary">
    <div class="row">
      <div class="subsection-half subsection-half-right">
        <a href="#analysis">
          <div id="oil-attributes-preview"></div>
          <span class="labels-homepage"></span>
        </a>
      </div>
      <div class="subsection-half subsection-half-left">
        <div class="subsection-inner">
          <h2>Analysis</h2>
          <p>The relationship between key oil and gas characteristics and GHG emissions.</p>
          <a class="button button-secondary" href="#analysis">View Analysis</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content-fullwidth">
    <a class="subsection-image" href="#oil/nigeria-escravos-beach">
      <img src="assets/images/layout/homepage-oil-details.jpg" alt="Oil Details Page" width="520px" height="387px" id="oil-details">
    </a>
    <div class="subsection-half subsection-half-right fullheight-section-content">
      <div class="subsection-inner">
        <h2>View Details or Compare Oils and Gases</h2>
        <p>The oil and gas profiles, including their characteristics, emission, drivers, and comparison to other resources.</p>
      </div>
    </div>
  </section>
  <%= blueBar %>
</div>
